version: "3.9"

services:
  otel-agent:
    image: otel/opentelemetry-collector-contrib:latest # contrib 이미지 필수
    container_name: otel-agent
    command: ["--config=/etc/otelcol/config.yaml"]
    user: "0:0"
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ${CONFIG_DIR}/otel-agent-config.yaml:/etc/otelcol/config.yaml:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host/root:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ${APP_LOG_DIR}:${APP_LOG_DIR}:ro
    logging:
      driver: "local"

    environment:
      # 1. 연결 및 인증 정보
      - OTEL_COLLECTOR_HOST=${OTEL_COLLECTOR_HOST}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_COLLECTOR_HOST} # 예: 127.0.0.1:4317
      - GATEWAY_AUTH_TOKEN=${GATEWAY_AUTH_TOKEN} # [추가] 인증 토큰

      # 2. 메타데이터 및 변수
      - NODE_ID=${NODE_ID}
      - OTEL_LOG_AGENT_NAME=${OTEL_LOG_AGENT_NAME}
      - APP_DIR=${APP_DIR}
      - APP_LOG_DIR=${APP_LOG_DIR}
      - DOCKER_API_VERSION=${DOCKER_API_VERSION:-1.24}
      - COLLECTION_INTERVAL=${COLLECTION_INTERVAL:-10s}
      - MEMORY_LIMIT_MIB=${MEMORY_LIMIT_MIB:-400}

      # 3. Host Metrics 경로 (Config 파일에서 참조)
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_FILESYSTEM=/host/root

      # 4. 리소스 속성 (자동 주입됨)
      - OTEL_RESOURCE_ATTRIBUTES=service.name=${OTEL_LOG_AGENT_NAME},host.name=${NODE_ID},deployment.environment=${DEPLOYMENT_ENV},system.version=${SYSTEM_VERSION}

      # 5. Mysql Parameters
      - MYSQL_HOST=${MYSQL_HOST:-127.0.0.1}
      - MYSQL_PORT=${MYSQL_PORT:-3306}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DB=${MYSQL_DB}
