receivers:
  hostmetrics:
    root_path: /host/root
    collection_interval: "${env:COLLECTION_INTERVAL}"
    scrapers:
      cpu:
      memory:
      network:
      filesystem:
      load:
      disk:

  docker_stats:
    endpoint: "unix:///var/run/docker.sock"
    api_version: "${env:DOCKER_API_VERSION}"
    collection_interval: "${env:COLLECTION_INTERVAL}"
    metrics:
      container.cpu.usage.total: { enabled: true }
      container.memory.usage.total: { enabled: true }
      container.network.io.usage.rx_bytes: { enabled: true }
      container.network.io.usage.tx_bytes: { enabled: true }

  filelog:
    include:
      - "${env:APP_LOG_DIR}/**/*.log"
    include_file_path: true
    multiline:
      line_start_pattern: '^\d{4}-\d{2}-\d{2}' # ← 날짜만 체크
    operators:
      # - type: regex_parser
      #   id: mysql_parser
      #   parse_from: body
      #   on_error: send
      #   if: 'attributes["log.file.path"] matches "mysql"'  # ← body 조건 제거
      #   regex: '^(?P<ts>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?Z?)\s+(?P<body>.*)$'
      #   timestamp:
      #     parse_from: attributes.ts
      #     layout: '%Y-%m-%dT%H:%M:%S.%fZ'

      - type: regex_parser
        parse_from: attributes["log.file.path"]
        regex: '.*/(?P<env>[^/]+)/(?P<container>[^/]+)/[^/]+\.log$'

      # - type: regex_parser
      #   id: python_ts
      #   parse_from: attributes.ts
      #   if: 'attributes.ts matches "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\."'
      #   regex: '^(?P<ts>.*)$'
      #   timestamp:
      #     parse_from: attributes.ts
      #     layout: '%Y-%m-%d %H:%M:%S.%f'

      # - type: regex_parser
      #   id: python_parser
      #   parse_from: body
      #   if: 'attributes.conn_id == nil and body matches "^\\d{2}:\\d{2}:\\d{2}\\."'
      #   regex: >
      #     ^(?P<ts>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d+Z)\s+
      #     (?P<conn_id>\d+)\s+
      #     (?P<cmd>[A-Za-z]+)
      #     (?:\s+(?P<msg>.*))?$
      #   timestamp:
      #     parse_from: attributes.ts
      #     layout: '%H:%M:%S.%L'
      #   on_error: drop

      - type: move
        from: attributes.container
        to: resource.attributes["container.name"]

      # - type: move
      #   from: attributes.env
      #   to: attributes["deployment.environment"]

      - type: remove
        field: attributes.ts
        if: "attributes.ts != nil"

  # filelog/docker:
  #   include:
  #     - /var/lib/docker/containers/*/*-json.log
  #   include_file_path: true
  #   include_file_name: true
  #   operators:
  #     # 1. Docker JSON 파싱
  #     - type: json_parser
  #       id: parser_docker
  #       parse_from: body
  #       timestamp:
  #         parse_from: attributes.time
  #         layout: '%Y-%m-%dT%H:%M:%S.%fZ'
  #       on_error: send # 파싱 실패해도 그냥 보냄 (가장 안전)

  #     # 2. 실제 로그 메시지 승격
  #     - type: move
  #       from: attributes.log
  #       to: body
  #       on_error: send

  #     # 3. stdout / stderr 메타데이터
  #     - type: move
  #       from: attributes.stream
  #       to: attributes["log.stream"]

processors:
  resourcedetection:
    detectors: [env, system, docker]
    timeout: 5s
    override: false

  resource/node_mapping:
    attributes:
      # host.name (NODE_ID) → env로 복사
      - key: env
        from_attribute: host.name
        action: upsert


  memory_limiter:
    check_interval: 1s
    limit_mib: ${env:MEMORY_LIMIT_MIB}

  filter/drop_otel:
    error_mode: ignore
    logs:
      log_record:
        - 'IsMatch(resource.attributes["container.image.name"], "otel/opentelemetry-collector")'
        - 'IsMatch(resource.attributes["container.name"], "otel-agent")'

  # attributes/cleanup:
  #   actions:
  #     - key: time
  #       action: delete
  #     - key: unparsed
  #       action: delete
  #     - key: log.file.path
  #       action: delete

  # batch:
  #   send_batch_size: 1000
  #   timeout: 10s

exporters:
  # otlp:
  #   # http://127.0.0.1:4317 등 .env 주소 사용
  #   endpoint: "http://${env:OTEL_COLLECTOR_HOST}"
  #   tls:
  #     insecure: true
  #   headers:
  #     # [Gateway 인증] .env의 토큰 사용
  #     Authorization: "Bearer ${env:GATEWAY_AUTH_TOKEN}"

  otlphttp:
    endpoint: "http://${env:OTEL_COLLECTOR_HOST}"
    headers:
      Authorization: "Bearer ${env:GATEWAY_AUTH_TOKEN}"
    tls:
      insecure: true

  debug:
    verbosity: basic

service:
  pipelines:
    metrics:
      receivers: [hostmetrics, docker_stats]
      processors: [resourcedetection, resource/node_mapping, memory_limiter]
      # exporters: [otlp]
      exporters: [otlphttp, debug]

    logs:
      # [중요] 두 리시버 모두 포함해야 함
      receivers: [filelog]
      processors:
        [
          resourcedetection,
          resource/node_mapping,
          filter/drop_otel,
          memory_limiter,
          # attributes/cleanup,
          # batch,
        ]
      # exporters: [otlp] # 문제 해결 후 debug 제거
      exporters: [otlphttp, debug]
